html,body{
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #778899;
}

body{
  color: white;
}

.body-cover{
  width: auto;
  height: 100%;
}

header{
  height: 50%;
  width: auto;
}

.header-space{
  width: auto;
  height: 100%;
}

.header-logo{
  height: 18%;
  padding: 5px 5px;
}

.lanthanum{
  max-height: 100%;


}

.header-title{
  height: 76%;
  width: 100%;
  background-image: url(innerview_2475.jpeg);
  background-size: cover;
}

.header-titlespace{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-sentences{
}

.title-demado{
  font-family: 'Hiragino Mincho ProN';
  font-size: 42px;
  text-align: center;

}

.title-BayWindow{
  font-family: 'Apple Chancery';
  text-align: center;
  font-size: 30px;
}

.bg{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url(botan_cover.png);
  background-size: cover;
  opacity: 0.0;
}

footer{
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.footer-space{
  width: auto;
  height: auto;
}

.contents-space{
  float: left;
  width: 33%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}


.contents-title{
  font-size: 30px;
  border-bottom: 1px solid white;
}



.contents-img{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 59%;
  width: 100%;
}

.news-img{
  height: 100%;
  width: auto;
  background-image: url(catstreetIMG_2729.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contents-date{
  font-size: 20px;
  font-family: 'Apple Chancery';
}

.contents-sentences{
  font-size: 24px;
  font-family: 'Hiragino Mincho ProN';
}

.alcohol-img{
  background-image: url(1967brandyIMG_2476.jpeg);
}

.access-contents{
  padding-top: 5px;
  padding-bottom: 5px;
}

.access-p{
  font-size: 24px;
  font-family: 'Hiragino Mincho ProN';
}

.Access-map{
  padding-top: 5px;
}

iframe {
  width: 100%;
  style="border:0;
}

@media (max-width:1000px){
  header {
    height: 25%;
  }


  .contents-space {
    width: 100%;
  }
}
