body{
  width: auto;
  height: 100%;
  color: white;
  background-image: url("innerviewIMG_2475.jpeg");
  background-size: cover;
}

li {
  list-style: none;
}

.header {
  background-color: rgba(119,136,153,0.7);
  height: 90px;
  width: auto;
  position: fixed;
}

.header-logo {
  float: left;
  height: 80px;
  margin: 5px 5px;
}

.header-list {
  float: right;
  font-size: 12px;
}

.header-list li {
  float: left;
  padding : 20px;
}

.main {
  margin-bottom: 30px;
}

.copy-container {
  text-align: center;
  width: 100%;
  margin: 10px auto;
  font-size: 40px;
}

.contents {
  padding: 20px 0px;
  background-color: rgba(119,136,153,0.7);
  height: 100%;
}

.contents-space {
  width: 25%;
  float: left;
}

.contents-item {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contents-item p {
  border-bottom: 1px solid white;
}

.contents-img {
  width: 100%;
}

.contents-item img {
  width: 100%;
}

.contents-list li {
  padding: 0px;
}

iframe {
  width: 100%;
  style="border:0;
}
